<div class="container">
    <div class="col md-3">
        <h1>BET Events</h1>
<div class="row">

        <label for="sport" class="col-sm-0 control-label">Sport:</label>

        <div class="col-sm-2">
        <select  class="form-control inputstl" [(ngModel)]="sportId" name="sportId"  (change)="GetSportId(sportId)">
                <option *ngFor="let sprt of sport" [value]="sprt.sportId">{{sprt.sportName}} 
                </option>
            </select>
        </div>

  <label for="country" class="col-sm-0 control-label" *ngIf="SportSelected">Country:</label>

        <div class="col-sm-2" *ngIf="SportSelected">
        <select  class="form-control inputstl" [(ngModel)] ="countryId"  name="countryId" (change)="GetCountryId(countryId)">
                <option *ngFor="let con of country" [value]="con.countryId">{{con.countryName}}
                </option>
            </select>
        </div>

        
  <label for="tournament" class="col-sm-0 control-label" *ngIf="CountrySelected">Tournament:</label>

  <div class="col-sm-2" *ngIf="CountrySelected">
  <select  class="form-control inputstl" [(ngModel)] ="tournamentId"  name="tournamentId" (change)="GetTournamnetId(tournamentId)">
          <option *ngFor="let con of tournament" [value]="con.tournamentId">{{con.tournamentName}}
          </option>
      </select>
  </div>   
    

<div class="col-sm-2" *ngIf="TournamentSelected">
        <input type="text" [(ngModel)]="EventName" name="EventName" class="form-control" placeholder="Event Name">        
        </div>   
       </div>&nbsp;
       <div class="row col-sm-3"  *ngIf="TournamentSelected">
                  <input type="datetime-local" [(ngModel)]="eventDate"  name="eventDate" class="form-control">
    <button (click)="AddEvent(EventName,countryId,tournamentId,eventDate,sportId)" class="btn btn-success">Add Event</button>
          

  </div>
    



    <ul *ngIf="event" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let c of event">Event: {{c.eventName}} | Date: {{c.eventDate}} {{c.countryName}} |
            {{c.tournamentName}} | {{c.sportName}}
          <div class="btn-group" role="group">
          <button (click)="DeleteEvent(c)" type="button" class="btn btn-danger">Delete</button>            
          <button (click)="c.isEdit =! c.isEdit" class="btn btn-danger" type="button" >Edit</button>
    <div *ngIf="c.isEdit">
          <input type="text" value="{{c.eventName}}" #editEvent >
         Date <input type="datetime-local" value="{{c.eventDate}}" #eventDate>
        <button (click)="EditEvent(c,editEvent.value,eventDate.value)" type="button" class="btn btn-danger">Update </button> 
        </div>
      </div>
        </li>
      </ul>   
      
      </div>
      </div>