<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    
  <a class="navbar-brand" href="#">BET System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/sports" class="nav-link" >Sport <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a routerLink="/country" class="nav-link" >Country<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/tournaments" class="nav-link" >Tournament <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/event">Event <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bettype">Bet Type<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/market">Markets<span class="sr-only">(current)</span></a>
        </li>
    </ul>
  </div>
</div>

</nav>