/* You can add global styles to this file, and also import other style files */
body
    {
        background-color: #92a8d1;
    }

    .list-group{
        color:black;
        font-weight: bold;
        padding:1rem;
    } 


    .label{
        background-color:red;
        color:white;
    }
    
    .select {
        background-color: #92a8d1;
        color:#fff;
        border-left-width:0;
    }
    
    .btn
    {
    background-color:red;
    color:white;
    }
    
    .form-horizontal .control-label{
        text-align:left !important; 
     }
    